.profile {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    user-select: none;
  
    .chevron {
        &.up > svg {
        transform: scaleY(-1);
      }
    }
  
    .menu {
      position: fixed;
      top: 48px;
      right: 16px;
      min-width: 120px;
      background-color: #ffffff;
      color: #000000;
      border-radius: 4px;
      padding: 8px 12px;
      z-index: 2;
    }

    .menu_item:hover {
        box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
        transform: scale(1.05);
        background-color: #eaeaea;
    }

    .profile__logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
    }
  }